// .form {
//     display: flex;
//     flex-wrap: wrap;
//     width: 412px;
//     margin: 40px auto 0;
//   }
  
//   .form-field {
//     width: 412px;
//     margin-top: 30px;
//     padding: 0 $grid-gap-half;
//   }
  
//   .form-field-half {
//     width: 50%;
//   }
  
//   .form-input {
//     width: 412px;
//     padding: 20px;
//     font-size: 20px;
//     line-height: 27px;
//     border-radius: 8px;
//     border: none;
//   }

// .form-label {
//     padding: 0px;
// }

.form {
    display: inline-flex;
    margin-left: 30px;
} 

.form-button {
    width: 412px;
    height: 104px;
    border: none;
    border-radius: 6px;
    background-color: $color-orang;
    color: white;
    font-size: 28px;
    line-height: 34px;
    text-align: center ;
}

.form-field {
    display: inline;
}


.form-input {
    border-radius: 6px;
    border: none;
    width: 412px;
    height: 104px;
}





