* {
    box-sizing: border-box;
   }
   

body {
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 0px;
    margin: 0px;
    height: 90px;
    background-color: $color-dark;
}

.header-inner {
    display: flex;
}

.header-link {
    margin: 15px;
    height: 90px;
    color: white;
    display: inline;
    text-decoration:none ;
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    font-family: $font-sans;
}



.header-nav {
    
    ul {
        list-style: none;
        padding-left: 700px;
        display: flex;
    }

        li{
            display: flex;
            margin-left: 30px;

        }
            a {
                padding-top: 15px;
                display: flex;
                color: white;
                font-family: $font-sans;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
            }

}
