.order-heading {
    text-align: center;
    font-size: 64px;
    line-height: 87px;
}

.order-text {
  margin-left: 82px;
  margin-right: 82px;
    text-align: center;
    font-size: 28px;
    line-height: 38px;
}

.order {
    background-color: #FFFAFA;
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .input {
    margin-left: 50px;
  }

  .order-input {
      display: inline-block;
    border-radius: 6px;
      border: none;
    width: 412px;
    height: 104px;
    margin-left: 30px;
  }

  .orfer-button {
      margin-top: 150px;
      margin-left: 20px;
    border-radius: 6px;
    border: none;
    width: 497px;
    height: 104px;
    background-color: $color-orang;

        a {
            
            text-decoration: none;
            color: white;
            font-size: 28px;
            line-height: 34px;
        }
  }
