.order-heading {
    text-align: center;
    font-size: 64px;
    line-height: 87px;
}

.order-text {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
}

.order {
    padding-top: 100px;
    padding-bottom: 90px;
  }

