.promo {
  background-size: cover;
 
    height: 814px;
    display:inline-block;
    background-image: url(../img/Promo.jpg);
}

.promo-title {
  letter-spacing: 10px;
    padding-top: 200px;
    color: white;
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    font-family: $font-sans;
    text-align: center;
    left: 82px;
    top: 200px;
}

.promo-button {
  width: 497px;
  height: 104px;
  margin-left: 525px;
  margin-top: 70px;
  line-height: 33px;
  border-radius: 6px;
  border: none;
  background-color: $color-orang;

  a {
    font-size: 42px;
    line-height: 57px;
    color: white;
    text-decoration: none;
  }
}