.promo {
    background-image: url(../img/Promo.jpg);
}

.promo-title {
    padding-top: 200px;
    color: white;
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    font-family: $font-sans;
    text-align: center;
}