/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v27-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  padding: 0px;
  margin: 0px;
  height: 90px;
  background-color: #333333;
}

.header-inner {
  display: flex;
}

.header-link {
  margin: 15px;
  height: 90px;
  color: white;
  display: inline;
  text-decoration: none;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  font-family: "Open Sans";
}

.header-link:hover {
  color: #ff2d2d;
}

.header-link-href:hover {
  color: #ff2d2d;
}

.header-link-href {
  height: 25px;
}

.header-nav ul {
  list-style: none;
  padding-left: 700px;
  display: flex;
}
.header-nav li {
  display: flex;
  margin-left: 30px;
}
.header-nav a {
  padding-top: 15px;
  display: flex;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.promo {
  background-size: cover;
  height: 914px;
  display: inline-block;
  background-image: url(../img/Promo.jpg);
}

.promo-title {
  letter-spacing: 10px;
  padding-top: 200px;
  color: white;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  font-family: "Open Sans";
  text-align: center;
  left: 82px;
  top: 200px;
}

.promo-button {
  width: 497px;
  height: 104px;
  margin-left: 525px;
  margin-top: 70px;
  line-height: 33px;
  border-radius: 6px;
  border: none;
  background-color: #ff2d2d;
}
.promo-button a {
  font-size: 42px;
  line-height: 57px;
  color: white;
  text-decoration: none;
}

.portfolio {
  height: 772px;
}

.portfolio-title {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.portfolio-img {
  text-align: center;
}

.portfolio-button {
  width: 497px;
  height: 104px;
  margin-left: 525px;
  margin-top: 70px;
  border-radius: 6px;
  background-color: #ff2d2d;
  font-size: 42px;
  line-height: 57px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.portfolio-contaener {
  padding-top: 40px;
}

.order-heading {
  text-align: center;
  font-size: 64px;
  line-height: 87px;
}

.order-text {
  margin-left: 82px;
  margin-right: 82px;
  text-align: center;
  font-size: 28px;
  line-height: 38px;
}

.order {
  background-color: #FFFAFA;
  padding-top: 100px;
  padding-bottom: 90px;
}

.input {
  margin-left: 50px;
}

.order-input {
  display: inline-block;
  border-radius: 6px;
  border: none;
  width: 412px;
  height: 104px;
  margin-left: 30px;
}

.orfer-button {
  margin-top: 150px;
  margin-left: 20px;
  border-radius: 6px;
  border: none;
  width: 497px;
  height: 104px;
  background-color: #ff2d2d;
}
.orfer-button a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  line-height: 34px;
}

.footer {
  background-color: #333333;
}
.footer div {
  display: flex;
  color: white;
  display: flex;
}

.footer-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  padding-left: 82px;
}

.phone {
  margin-right: 45px;
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 38px;
  padding-left: 665px;
}

.footer-icons {
  padding-right: 15px;
  display: flex;
}

.img-icons {
  margin-left: 15px;
  margin-right: 15px;
}

.footer-title .footer-number .footer-icon {
  display: flex;
}
.footer-title .footer-number .footer-icon a {
  margin-top: 50px;
  height: 25px;
  display: flex;
}

.form {
  margin-left: 30px;
}

.form-button {
  font-family: "Open Sans", sans-serif;
  width: 412px;
  height: 104px;
  border: none;
  border-radius: 6px;
  background-color: #ff2d2d;
  color: white;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.form-field {
  margin-left: 50px;
}

.form-input {
  border-radius: 6px;
  border: none;
  width: 412px;
  height: 104px;
}

.form-div {
  display: flex;
}
.form-div .form-field .form-button {
  float: right;
  margin: 0 50px;
}

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  line-height: 87px;
  font-weight: 400;
}

.cactalog-img {
  width: 300px;
  height: 300px;
  background-image: url(../img/catalog-img1);
}

.catalog {
  color: #ff2d2d;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbW1vbi9fZm9udHMuc2NzcyIsImNvbW1vbi9fdHlwb2dyYXBoeS5zY3NzIiwiYmxvY2tzL19oZWFkZXIuc2NzcyIsImNvbW1vbi9fdmFyaWFibGVzLnNjc3MiLCJibG9ja3MvX3Byb21vLnNjc3MiLCJibG9ja3MvX3BvcnRmb2xpby5zY3NzIiwiY29tbW9uL19taXhpbnMuc2NzcyIsImJsb2Nrcy9fb3JkZXIuc2NzcyIsImJsb2Nrcy9fZm9vdGVyLnNjc3MiLCJibG9ja3MvX2Zvcm0uc2NzcyIsImNhdGFsb2cvX2hlYWRlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0FBQ0E7RUFDSTtFQUNBO0VBQ0E7RUFDQTtBQUUrRTs7QUFFakY7QUFDQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0FBRTJFOztBQUU3RTtBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7QUFFMkU7O0FDekIvRTtFQUNFLGFEMkJLOzs7QUU1QlA7RUFDSTs7O0FBSUo7RUFDSTtFQUNBO0VBQ0E7OztBQUdKO0VBQ0k7RUFDQTtFQUVBO0VBQ0Esa0JDVlM7OztBRGFiO0VBQ0k7OztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBLGFDdEJROzs7QUR5Qlo7RUFDSSxPQzdCVTs7O0FEZ0NkO0VBRUksT0NsQ1U7OztBRHNDZDtFQUNBOzs7QUFLSTtFQUNJO0VBQ0E7RUFDQTs7QUFHQTtFQUNJO0VBQ0E7O0FBR0E7RUFDSTtFQUNBO0VBQ0E7RUFDQSxhQ3hESjtFRHlESTtFQUNBO0VBQ0E7RUFDQTs7O0FFdEVoQjtFQUNJO0VBQ0E7RUFDQTtFQUNBOzs7QUFHSjtFQUNFO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBLGFESlE7RUNLUjtFQUNBO0VBQ0E7OztBQUdKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQSxrQkRyQlk7O0FDdUJaO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7OztBQ2xDSjtFQUNJOzs7QUFHSjtFQUNJO0VBQ0E7RUFDQTs7O0FBRUo7RUFDSTs7O0FBRUo7RUNhSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0Esa0JIdkJVO0VHeUJWO0VBQ0E7RUFDQTtFQUNBO0VEckJBO0VBQ0E7OztBQUdKO0VBQ0k7OztBRW5CSjtFQUNJO0VBQ0E7RUFDQTs7O0FBR0o7RUFDRTtFQUNBO0VBQ0U7RUFDQTtFQUNBOzs7QUFHSjtFQUNJO0VBQ0E7RUFDQTs7O0FBR0Y7RUFDRTs7O0FBR0Y7RUFDSTtFQUNGO0VBQ0U7RUFDRjtFQUNBO0VBQ0E7OztBQUdGO0VBQ0k7RUFDQTtFQUNGO0VBQ0E7RUFDQTtFQUNBO0VBQ0Esa0JKakNVOztBSW1DTjtFQUVJO0VBQ0E7RUFDQTtFQUNBOzs7QUMvQ1o7RUFPSSxrQkxEUzs7QUtKTDtFQUNJO0VBQ0E7RUFDQTs7O0FBS1o7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFHSjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FBR0o7RUFDSTtFQUNBOzs7QUFHSjtFQUNJO0VBQ0E7OztBQUdKO0VBRUk7O0FBRUk7RUFDSTtFQUNBO0VBQ0E7OztBQ2RaO0VBRUk7OztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBLGtCTmxDVTtFTW1DVjtFQUNBO0VBQ0E7RUFDQTs7O0FBR0o7RUFDSTs7O0FBSUo7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7O0FBR0o7RUFDSTs7QUFFSTtFQUNJO0VBQWE7OztBQ2hFekI7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFFSjtFQUNJO0VBQ0E7RUFDQTs7O0FBR0o7RUFDSSxPUFBVIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIG9wZW4tc2Fucy1yZWd1bGFyIC0gbGF0aW5fY3lyaWxsaWMgKi9cclxuQGZvbnQtZmFjZSB7XHJcbiAgICBmb250LWZhbWlseTogJ09wZW4gU2Fucyc7XHJcbiAgICBmb250LXN0eWxlOiBub3JtYWw7XHJcbiAgICBmb250LXdlaWdodDogNDAwO1xyXG4gICAgc3JjOiBsb2NhbCgnJyksXHJcbiAgICAgICAgIHVybCgnLi4vZm9udHMvb3Blbi1zYW5zLXYyNy1sYXRpbl9jeXJpbGxpYy1yZWd1bGFyLndvZmYyJykgZm9ybWF0KCd3b2ZmMicpLCAvKiBDaHJvbWUgMjYrLCBPcGVyYSAyMyssIEZpcmVmb3ggMzkrICovXHJcbiAgICAgICAgIHVybCgnLi4vZm9udHMvb3Blbi1zYW5zLXYyNy1sYXRpbl9jeXJpbGxpYy1yZWd1bGFyLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xyXG4gIH1cclxuICAvKiBvcGVuLXNhbnMtNjAwIC0gbGF0aW5fY3lyaWxsaWMgKi9cclxuICBAZm9udC1mYWNlIHtcclxuICAgIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJztcclxuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XHJcbiAgICBzcmM6IGxvY2FsKCcnKSxcclxuICAgICAgICAgdXJsKCcuLi9mb250cy9vcGVuLXNhbnMtdjI3LWxhdGluX2N5cmlsbGljLTYwMC53b2ZmMicpIGZvcm1hdCgnd29mZjInKSwgLyogQ2hyb21lIDI2KywgT3BlcmEgMjMrLCBGaXJlZm94IDM5KyAqL1xyXG4gICAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MjctbGF0aW5fY3lyaWxsaWMtNjAwLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xyXG4gIH1cclxuICAvKiBvcGVuLXNhbnMtNzAwIC0gbGF0aW5fY3lyaWxsaWMgKi9cclxuICBAZm9udC1mYWNlIHtcclxuICAgIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJztcclxuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICBzcmM6IGxvY2FsKCcnKSxcclxuICAgICAgICAgdXJsKCcuLi9mb250cy9vcGVuLXNhbnMtdjI3LWxhdGluX2N5cmlsbGljLTcwMC53b2ZmMicpIGZvcm1hdCgnd29mZjInKSwgLyogQ2hyb21lIDI2KywgT3BlcmEgMjMrLCBGaXJlZm94IDM5KyAqL1xyXG4gICAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MjctbGF0aW5fY3lyaWxsaWMtNzAwLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xyXG4gIH1cclxuXHJcbiRmb250OiBBcmlhbCwgXCJIZWx2ZXRpY2EgTmV1ZVwiLCBIZWx2ZXRpY2EsIHNhbnMtc2VyaWY7IiwiYm9keSB7XHJcbiAgZm9udC1mYW1pbHk6ICRmb250O1xyXG59IiwiKiB7XHJcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG59XHJcblxyXG5cclxuYm9keSB7XHJcbiAgICBmb250LWZhbWlseTogJGZvbnQtc2Fucywgc2Fucy1zZXJpZjtcclxuICAgIG1hcmdpbjogMHB4O1xyXG4gICAgcGFkZGluZzogMHB4O1xyXG59XHJcblxyXG4uaGVhZGVyIHtcclxuICAgIHBhZGRpbmc6IDBweDtcclxuICAgIG1hcmdpbjogMHB4O1xyXG4gICAgLy8gd2lkdGg6IDExNDBweDtcclxuICAgIGhlaWdodDogOTBweDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICRjb2xvci1kYXJrO1xyXG59XHJcblxyXG4uaGVhZGVyLWlubmVyIHtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbn1cclxuXHJcbi5oZWFkZXItbGluayB7XHJcbiAgICBtYXJnaW46IDE1cHg7XHJcbiAgICBoZWlnaHQ6IDkwcHg7XHJcbiAgICBjb2xvcjogd2hpdGU7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmU7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246bm9uZSA7XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gICAgZm9udC1zaXplOiA0MnB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDU3cHg7XHJcbiAgICBmb250LWZhbWlseTogJGZvbnQtc2FucztcclxufVxyXG5cclxuLmhlYWRlci1saW5rOmhvdmVyIHtcclxuICAgIGNvbG9yOiAkY29sb3Itb3Jhbmc7XHJcbn1cclxuXHJcbi5oZWFkZXItbGluay1ocmVmOmhvdmVyICB7XHJcblxyXG4gICAgY29sb3I6ICRjb2xvci1vcmFuZztcclxuXHJcbn1cclxuXHJcbi5oZWFkZXItbGluay1ocmVmIHtcclxuaGVpZ2h0OiAyNXB4O1xyXG59XHJcblxyXG4uaGVhZGVyLW5hdiB7XHJcbiAgICBcclxuICAgIHVsIHtcclxuICAgICAgICBsaXN0LXN0eWxlOiBub25lO1xyXG4gICAgICAgIHBhZGRpbmctbGVmdDogNzAwcHg7XHJcbiAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgIH1cclxuXHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgICAgIG1hcmdpbi1sZWZ0OiAzMHB4O1xyXG5cclxuICAgICAgICB9XHJcbiAgICAgICAgICAgIGEge1xyXG4gICAgICAgICAgICAgICAgcGFkZGluZy10b3A6IDE1cHg7XHJcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgICAgICAgICAgY29sb3I6IHdoaXRlO1xyXG4gICAgICAgICAgICAgICAgZm9udC1mYW1pbHk6ICRmb250LXNhbnM7XHJcbiAgICAgICAgICAgICAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgICAgICAgICAgICAgIGZvbnQtc2l6ZTogMTRweDtcclxuICAgICAgICAgICAgICAgIGxpbmUtaGVpZ2h0OiAyNHB4O1xyXG4gICAgICAgICAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgICAgICB9XHJcblxyXG59XHJcbiIsIiRoMS1mei1tb2JpbGU6IDIwcHg7XHJcbiRoMS1mei10YWJsZXQ6IDMycHg7XHJcbiRoMS1mei1kZXNrdG9wOiA0OHB4O1xyXG4kaDEtZnc6IDQwMDtcclxuXHJcbi8vIGNvbHJzXHJcbiRjb2xvci1kYXJrOiAjMzMzMzMzO1xyXG4kY29sb3Itb3Jhbmc6ICNmZjJkMmQ7XHJcblxyXG4vLyBmb250c1xyXG4kZm9udC1zYW5zOiBcIk9wZW4gU2Fuc1wiO1xyXG5cclxuJGdyaWQtZ2FwOiAzMHB4O1xyXG4kZ3JpZC1nYXAtaGFsZjogY2FsYygkZ3JpZC1nYXAgLyAyKTtcclxuIiwiLnByb21vIHtcclxuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XHJcbiAgICBoZWlnaHQ6IDkxNHB4O1xyXG4gICAgZGlzcGxheTppbmxpbmUtYmxvY2s7XHJcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoLi4vaW1nL1Byb21vLmpwZyk7XHJcbn1cclxuXHJcbi5wcm9tby10aXRsZSB7XHJcbiAgbGV0dGVyLXNwYWNpbmc6IDEwcHg7XHJcbiAgICBwYWRkaW5nLXRvcDogMjAwcHg7XHJcbiAgICBjb2xvcjogd2hpdGU7XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gICAgZm9udC1zaXplOiA3MnB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDk4cHg7XHJcbiAgICBmb250LWZhbWlseTogJGZvbnQtc2FucztcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGxlZnQ6IDgycHg7XHJcbiAgICB0b3A6IDIwMHB4O1xyXG59XHJcblxyXG4ucHJvbW8tYnV0dG9uIHtcclxuICB3aWR0aDogNDk3cHg7XHJcbiAgaGVpZ2h0OiAxMDRweDtcclxuICBtYXJnaW4tbGVmdDogNTI1cHg7XHJcbiAgbWFyZ2luLXRvcDogNzBweDtcclxuICBsaW5lLWhlaWdodDogMzNweDtcclxuICBib3JkZXItcmFkaXVzOiA2cHg7XHJcbiAgYm9yZGVyOiBub25lO1xyXG4gIGJhY2tncm91bmQtY29sb3I6ICRjb2xvci1vcmFuZztcclxuXHJcbiAgYSB7XHJcbiAgICBmb250LXNpemU6IDQycHg7XHJcbiAgICBsaW5lLWhlaWdodDogNTdweDtcclxuICAgIGNvbG9yOiB3aGl0ZTtcclxuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICB9XHJcbn0iLCIucG9ydGZvbGlvIHtcclxuICAgIGhlaWdodDogNzcycHg7XHJcbn1cclxuXHJcbi5wb3J0Zm9saW8tdGl0bGUge1xyXG4gICAgZm9udC1zaXplOiA2NHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDg3cHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuLnBvcnRmb2xpby1pbWcge1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG59XHJcbi5wb3J0Zm9saW8tYnV0dG9uIHtcclxuICAgIEBpbmNsdWRlIGJ1dG9vbjtcclxuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgIGJvcmRlcjogbm9uZTtcclxufVxyXG5cclxuLnBvcnRmb2xpby1jb250YWVuZXIge1xyXG4gICAgcGFkZGluZy10b3A6IDQwcHg7XHJcbn1cclxuIiwiQG1peGluIGhlYWRlci1saW5rIHtcclxuICAgIGNvbG9yOiB3aGl0ZTtcclxuICAgIGRpc3BsYXk6IGlubGluZTtcclxuICAgIHRleHQtZGVjb3JhdGlvbjpub25lIDtcclxuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XHJcbiAgICBmb250LXNpemU6IDQycHg7XHJcbiAgICBsaW5lLWhlaWdodDogNTdweDtcclxuICAgIGZvbnQtZmFtaWx5OiAkZm9udC1zYW5zO1xyXG59XHJcblxyXG5AbWl4aW4gaGVhZGVyLXVsIHtcclxuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XHJcbiAgICBwYWRkaW5nLWxlZnQ6IDcwMHB4O1xyXG4gICAgZGlzcGxheTogZmxleDtcclxufVxyXG5cclxuQG1peGluIGhlYWRlci1hIHtcclxuICAgIGNvbG9yOiB3aGl0ZTtcclxuICAgIGZvbnQtZmFtaWx5OiAkZm9udC1zYW5zO1xyXG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbiAgICBmb250LXNpemU6IDE0cHg7XHJcbiAgICBsaW5lLWhlaWdodDogMjRweDtcclxuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxufVxyXG5AbWl4aW4gYnV0b29uIHtcclxuICAgIHdpZHRoOiA0OTdweDtcclxuICAgIGhlaWdodDogMTA0cHg7XHJcbiAgICBtYXJnaW4tbGVmdDogNTI1cHg7XHJcbiAgICBtYXJnaW4tdG9wOiA3MHB4O1xyXG4gICAgYm9yZGVyLXJhZGl1czogNnB4O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLW9yYW5nO1xyXG5cclxuICAgIGZvbnQtc2l6ZTogNDJweDtcclxuICAgIGxpbmUtaGVpZ2h0OiA1N3B4O1xyXG4gICAgY29sb3I6IHdoaXRlO1xyXG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59IiwiLm9yZGVyLWhlYWRpbmcge1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgZm9udC1zaXplOiA2NHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDg3cHg7XHJcbn1cclxuXHJcbi5vcmRlci10ZXh0IHtcclxuICBtYXJnaW4tbGVmdDogODJweDtcclxuICBtYXJnaW4tcmlnaHQ6IDgycHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBmb250LXNpemU6IDI4cHg7XHJcbiAgICBsaW5lLWhlaWdodDogMzhweDtcclxufVxyXG5cclxuLm9yZGVyIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNGRkZBRkE7XHJcbiAgICBwYWRkaW5nLXRvcDogMTAwcHg7XHJcbiAgICBwYWRkaW5nLWJvdHRvbTogOTBweDtcclxuICB9XHJcblxyXG4gIC5pbnB1dCB7XHJcbiAgICBtYXJnaW4tbGVmdDogNTBweDtcclxuICB9XHJcblxyXG4gIC5vcmRlci1pbnB1dCB7XHJcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgIGJvcmRlci1yYWRpdXM6IDZweDtcclxuICAgICAgYm9yZGVyOiBub25lO1xyXG4gICAgd2lkdGg6IDQxMnB4O1xyXG4gICAgaGVpZ2h0OiAxMDRweDtcclxuICAgIG1hcmdpbi1sZWZ0OiAzMHB4O1xyXG4gIH1cclxuXHJcbiAgLm9yZmVyLWJ1dHRvbiB7XHJcbiAgICAgIG1hcmdpbi10b3A6IDE1MHB4O1xyXG4gICAgICBtYXJnaW4tbGVmdDogMjBweDtcclxuICAgIGJvcmRlci1yYWRpdXM6IDZweDtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIHdpZHRoOiA0OTdweDtcclxuICAgIGhlaWdodDogMTA0cHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29sb3Itb3Jhbmc7XHJcblxyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgICBcclxuICAgICAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgICAgICBjb2xvcjogd2hpdGU7XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMjhweDtcclxuICAgICAgICAgICAgbGluZS1oZWlnaHQ6IDM0cHg7XHJcbiAgICAgICAgfVxyXG4gIH1cclxuIiwiLmZvb3RlciB7XHJcbiAgICBcclxuICAgICAgICBkaXZ7XHJcbiAgICAgICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgICAgIGNvbG9yOiB3aGl0ZTtcclxuICAgICAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgICB9XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29sb3ItZGFyazsgIFxyXG59XHJcblxyXG4uZm9vdGVyLWxpbmsge1xyXG4gICAgZm9udC1mYW1pbHk6ICRmb250LXNhbnMsIHNhbnMtc2VyaWY7XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gICAgZm9udC1zaXplOiA0MnB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDU3cHg7XHJcbiAgICBwYWRkaW5nLWxlZnQ6IDgycHg7XHJcbn1cclxuXHJcbi5waG9uZSB7XHJcbiAgICBtYXJnaW4tcmlnaHQ6NDVweCA7XHJcbiAgICBtYXJnaW4tdG9wOiA0NXB4O1xyXG4gICAgZm9udC1mYW1pbHk6ICRmb250LXNhbnMsIHNhbnMtc2VyaWY7XHJcbiAgICBmb250LXNpemU6IDI4cHg7XHJcbiAgICBsaW5lLWhlaWdodDogMzhweDtcclxuICAgIHBhZGRpbmctbGVmdDogNjY1cHg7XHJcbn1cclxuXHJcbi5mb290ZXItaWNvbnMge1xyXG4gICAgcGFkZGluZy1yaWdodDogMTVweDtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbn1cclxuXHJcbi5pbWctaWNvbnMge1xyXG4gICAgbWFyZ2luLWxlZnQ6IDE1cHg7XHJcbiAgICBtYXJnaW4tcmlnaHQ6IDE1cHg7XHJcbn1cclxuXHJcbi5mb290ZXItdGl0bGUgLmZvb3Rlci1udW1iZXIgLmZvb3Rlci1pY29uIHtcclxuICAgIFxyXG4gICAgZGlzcGxheTogZmxleDtcclxuXHJcbiAgICAgICAgYSB7XHJcbiAgICAgICAgICAgIG1hcmdpbi10b3A6IDUwcHg7XHJcbiAgICAgICAgICAgIGhlaWdodDogMjVweDtcclxuICAgICAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgICB9XHJcbn1cclxuIiwiLy8gLmZvcm0ge1xyXG4vLyAgICAgZGlzcGxheTogZmxleDtcclxuLy8gICAgIGZsZXgtd3JhcDogd3JhcDtcclxuLy8gICAgIHdpZHRoOiA0MTJweDtcclxuLy8gICAgIG1hcmdpbjogNDBweCBhdXRvIDA7XHJcbi8vICAgfVxyXG4gIFxyXG4vLyAgIC5mb3JtLWZpZWxkIHtcclxuLy8gICAgIHdpZHRoOiA0MTJweDtcclxuLy8gICAgIG1hcmdpbi10b3A6IDMwcHg7XHJcbi8vICAgICBwYWRkaW5nOiAwICRncmlkLWdhcC1oYWxmO1xyXG4vLyAgIH1cclxuICBcclxuLy8gICAuZm9ybS1maWVsZC1oYWxmIHtcclxuLy8gICAgIHdpZHRoOiA1MCU7XHJcbi8vICAgfVxyXG4gIFxyXG4vLyAgIC5mb3JtLWlucHV0IHtcclxuLy8gICAgIHdpZHRoOiA0MTJweDtcclxuLy8gICAgIHBhZGRpbmc6IDIwcHg7XHJcbi8vICAgICBmb250LXNpemU6IDIwcHg7XHJcbi8vICAgICBsaW5lLWhlaWdodDogMjdweDtcclxuLy8gICAgIGJvcmRlci1yYWRpdXM6IDhweDtcclxuLy8gICAgIGJvcmRlcjogbm9uZTtcclxuLy8gICB9XHJcblxyXG4vLyAuZm9ybS1sYWJlbCB7XHJcbi8vICAgICBwYWRkaW5nOiAwcHg7XHJcbi8vIH1cclxuXHJcbi5mb3JtIHtcclxuICAgIC8vIGRpc3BsYXk6IGlubGluZS1mbGV4O1xyXG4gICAgbWFyZ2luLWxlZnQ6IDMwcHg7XHJcbn0gXHJcblxyXG4uZm9ybS1idXR0b24ge1xyXG4gICAgZm9udC1mYW1pbHk6ICRmb250LXNhbnMsIHNhbnMtc2VyaWY7XHJcbiAgICB3aWR0aDogNDEycHg7XHJcbiAgICBoZWlnaHQ6IDEwNHB4O1xyXG4gICAgYm9yZGVyOiBub25lO1xyXG4gICAgYm9yZGVyLXJhZGl1czogNnB4O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLW9yYW5nO1xyXG4gICAgY29sb3I6IHdoaXRlO1xyXG4gICAgZm9udC1zaXplOiAyOHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDM0cHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXIgO1xyXG59XHJcblxyXG4uZm9ybS1maWVsZCB7XHJcbiAgICBtYXJnaW4tbGVmdDogNTBweDtcclxufVxyXG5cclxuXHJcbi5mb3JtLWlucHV0IHtcclxuICAgIGJvcmRlci1yYWRpdXM6IDZweDtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIHdpZHRoOiA0MTJweDtcclxuICAgIGhlaWdodDogMTA0cHg7XHJcbn1cclxuXHJcbi5mb3JtLWRpdiB7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG5cclxuICAgICAgICAuZm9ybS1maWVsZCAuZm9ybS1idXR0b257XHJcbiAgICAgICAgICAgIGZsb2F0OiByaWdodDttYXJnaW46IDAgNTBweDtcclxuICAgICAgICB9XHJcbn1cclxuXHJcblxyXG5cclxuXHJcblxyXG4iLCJoMSB7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBmb250LWZhbWlseTogJGZvbnQtc2Fucywgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc2l6ZTogNjRweDtcclxuICAgIGxpbmUtaGVpZ2h0OiA4N3B4O1xyXG4gICAgZm9udC13ZWlnaHQ6IDQwMDtcclxufVxyXG4uY2FjdGFsb2ctaW1nIHtcclxuICAgIHdpZHRoOiAzMDBweDtcclxuICAgIGhlaWdodDogMzAwcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoLi4vaW1nL2NhdGFsb2ctaW1nMSk7XHJcbn1cclxuXHJcbi5jYXRhbG9nIHtcclxuICAgIGNvbG9yOiAkY29sb3Itb3Jhbmc7XHJcbn0iXX0= */
