$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colrs
$color-dark: #333333;
$color-orang: #ff2d2d;

// fonts
$font-sans: "Open Sans";

$grid-gap: 30px;
$grid-gap-half: calc($grid-gap / 2);
